.Weather {
  border: 2px solid black;
  width: 1000px;
  height: 500px;
  margin: auto auto;
  display: grid;
  grid-template-rows: 50px 50px 1fr 2fr
}

.Input {
  border: 2px solid red;
}

.Location {
  border: 2px solid green;
}

.Today {
  border: 2px solid blue;
  display: grid;
  margin: auto;
}

.Future {
  border: 2px solid yellow;
  display: grid;
  grid-template-rows: 2fr 1fr
}

.Highlight {
  border: 2px solid purple;
  display: grid;
  grid-template-columns: repeat(5, 1fr)
}

.Highlight > div {
  border: 2px solid peachpuff;
  display: grid;
  text-align: center;
}

.Highlight > div > img {
  border: 2px solid black;
  margin: auto;
}

.Hourly {
  border: 2px solid pink;
}